/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header__link-more {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.field {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.itm-add {
  display: flex;
}
.global-list {
  margin: 0;
  padding: 0px;
}
.global-list,
.title {
  list-style: none;
}
.field,
.global-btn {
  outline: none;
}
.global-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.global-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.global-label[for="add-itm__input"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.global-input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.global-input[type="text"]:focus {
  color: #333;
}

/* New Task */
.global-label[for="add-itm__input"] {
  display: block;
  margin: 0 0 20px;
}
.global-input#add-itm__input {
  width: 318px;
}

/* Task list */
.global-list > * {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-list > * > * {
  vertical-align: middle;
}

.global-list > * > .global-input[type="checkbox"] {
  margin: 0 10px;
}
.global-list > * > .global-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.global-list > * > .global-input[type="text"] {
  width: 226px;
}
.delete-btn .global-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-btn .global-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.global-list#itm-complete .global-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.global-list .global-input[type="text"] {
  display: none;
}

.global-list .edit-mode .global-input[type="text"] {
  display: inline-block;
  width: 224px;
}

.global-list .edit-mode .global-label {
  display: none;
}
